*,
*::before,
*::after 
{
    box-sizing: border-box;
}

:root 
{
--f-primary: 'Source Sans Pro', sans-serif;
--f-secondary: 'Source Code Pro', monospace;

--fw-reg: 300;
--fw-bold: 900;

--clr-light: #f9f8f8;
--clr-dark: #343434;
--clr-dark2: #4f4f4f;

--clr-accent: #2384bc;

--fs-h1: 3rem;
--fs-h2: 2.25rem;
--fs-h3: 1.25rem;
--fs-body: 1rem;

--bs: .25em .25em .75em rgba(0,0,0,.25),
        .125em .125em .25em rgba(0,0,0,.15);

--bs-strong: .35em .35em 1em rgba(0,0,0,.35),
        .2em .2em .4em rgba(0,0,0,.2);

}


@media (min-width: 800px) 
{
    :root 
    {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html
{
    scroll-behavior: smooth;
}

body
{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--f-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section
{
    padding: 5em 2em;
}

img
{
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold);}

:focus
{
    outline: 3px solid var(--clr-dark2);
    outline-offset: 0px;
}


/* Buttons */

.btn
{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover 
{
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3
{
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title 
{
    margin-bottom: .4em;
}

.section__title--intro
{
    font-weight: var(--fw-reg);
}

.section__title--intro strong
{
    display: block;
}

.section__subtitle
{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, 
.section__subtitle--about
{
    background: var(--clr-accent);
    font-family: var(--f-secondary);
    padding: .25em 1em;
    margin-bottom: 1em;
} 

.section__subtitle--work
{
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}




/* Header */

.header
{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav
{
    position: fixed;
    background: var(--clr-light);
    color: var(--clr-dark);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, .1);
}

.nav__list
{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 10em;
    padding-top: 8em;

}

.nav__link
{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;

}

.nav__link:hover
{
    color: var(--clr-accent);
}

.nav-toggle
{
    cursor: pointer;
    padding: .5em;
    background: transparent;
    border: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav
{
    transform: translateX(0%);
}

.nav-open .nav-toggle
{
    position: fixed;
}

.nav-open .hamburger
{
    transform: rotate(225deg);
}

.nav-open .hamburger::before
{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after
{
    opacity: 0;
}

.nav__link .nav
{
    transform: translateX(100%);
}


.hamburger
{
    display: block;
    position: relative;

}

.hamburger,
.hamburger::before,
.hamburger::after
{
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;    
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }




/* Intro */

.intro
{
    position: relative;

}

.intro__img
{
    box-shadow: var(--bs);
}

.section__subtitle--intro
{
    display: inline-block;
}


@media (max-width: 600px)
{
    .intro__img
    {
        margin: 0 auto;
    }

    .section__subtitle--intro
    {
        text-align: center;
        display: block;
    }


    .section__title
    {
        text-align: center;
    }

    

    
}

@media (min-width: 600px)
{
    .intro
    {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img
    {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        top: -2em;
    }

    .section__subtitle--intro
    {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        top: -.9em;
        right: 2em;
        width: calc(100% + -.9em);
        background-color: var(--clr-dark2);
    }

    .section__title
    {
        position: relative;
        top: .25em;
    }

    .section__subtitle
    {
        color: var(--clr-light);
    }
}


/* My services */

.my-services
{
    background-color: var(--clr-light);
    /* background-image: url(../img/bg-03.jpg); */
    background-size: cover;
    background-blend-mode: multiply; 
    color: var(--clr-dark);
    text-align: center;
}

.section__title--services
{
    color: var(--clr-dark);
    position: relative;
}

.section__title--services::after
{
    content: '';
    display: block;
    width: 5%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: .35;
}

.services
{
    margin-bottom: 4em;
}

.service
{
    max-width: 500px;
    margin: 0 auto;
}

@media(min-width: 800px)
{
    .services
    {
        display: flex;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    .service + .service
    {
        margin-left: 2em;
    }


}


/* My work */

.my-work
{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}

.portfolio
{
    display: inline-block;
    /* grid-template-columns: repeat(1, minmax(300px, 1fr)); */
}

.portfolio__item--btn
{
    background: var(--clr-light);
}

.portfolio__img
{
    transition: 
        transform 400ms cubic-bezier(.5, 0, .5, 1),
        opacity 150ms linear
    ;

    box-shadow: var(--bs-strong);

    max-width:65%;
    max-height: 50%;
    height:auto;
    margin: auto;
    margin-top: 2em;
}

.portfolio__title
{
    content: "";
    display: block;
    position: relative;
    align-content: center;
}


.portfolio__img:hover,
.portfolio__item--btn:focus .portfolio__img
{
    opacity: .65;

}



@media (max-width: 600px)
{
    .portfolio__img
    {
        max-width:100%;
        width: 125%;
        height: 100%;

        /* delete margins between portfolio items */
        /* gifs should occupate the whole s width */
    }
}

@media (max-width: 1000px)
{
    .portfolio__img
    {
        max-width:100%;
        width: 100%;
        height: 90%;
    }
}


/* footer */

.footer
{
    background: #111;
    color: var(--clr-light);
    text-align: center;
    padding: 2.25em 0;
}

.footer a 
{ 
    color: inherit; 
    text-decoration: none;
}

.footer__link
{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover
{
    opacity: .7;

}

.footer__link:hover
{
    text-decoration: underline;
}


.social-list
{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.75em;

}

.social-list__item
{
    margin: 0 .5em;
}

.social-list__link
{
    padding: .5em;
}







